root {
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.widget__header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.header__icon {
    height: 2.5rem;
}

.header__title {
    font-size: 2.3rem;
    font-weight: bold;
    color: #5E6BD0;
    text-align: center;
    margin-bottom: 2rem;
}

.widget {
    width: 50rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.widget__textarea {
    width: 100%;
    height: 14rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.8rem;
    font-size: 1.1rem;
    resize: none;
    outline: none;
    transition: all 200ms;
    overflow-y: auto;
}

.widget__textarea::-webkit-scrollbar {
    width: 0.3rem;
}

.widget__textarea::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 0.5rem;
    cursor: pointer;
}

.widget__textarea::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.widget__buttons {
    display: flex;
    gap: 1rem;
}

.widget__button {
    height: 3rem;
    font-size: 1.1rem;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    line-height: 1.1rem;
}

.widget__button--ia {
    flex: 4;
    background-color: #f4e2a1;
}

.widget__button--ia:hover {
    background-color: #F9D450;
}

.widget__button--pub {
    flex: 6;
    background-color: #5E6BD0;
    color: #fff;
}

.widget__button--pub:hover {
    background-color: #4955b0;
}

.widget__posts {
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-top: 1px solid #ddd;
}

.widget__post {
    font-size: 0.7rem;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 0.8rem;
    margin-bottom: 0.5rem;
}